/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your animation styles */
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-from-bottom {
  animation: fromBottom 0.8s ease-out forwards;
}

/* Optional: Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
